<li class="main-gif-section">
  <div class="collapsible-header" id="gif-panel">
    Post a gif!
    <i class="fa fa-caret-down" aria-hidden="true"></i>
  </div>
  <div class="collapsible-body">
    <div class="row">
      <div class="input-field col s12">
         <%= image_tag("giphy_logo", class: "giphy-logo") %>
        <h5 class="prompt-q">
          <em>Suggested prompt: <%= @prompt.content %></em>
        </h5>
        <div class="row">
          <input id="gif-search" type="gif-search" placeholder="Search for a gif">
        </div>
      </div>
      <div class="all-gifs grid" data-masonry='{ "itemSelector": ".grid-item", "percentPosition": true}'>
        <div class="grid-sizer"></div>
        <a class="results-section" data-id="1" id="results1"></a>
        <a class="results-section" data-id="2" id="results2"></a>
        <a class="results-section" data-id="3" id="results3"></a>
        <a class="results-section" data-id="4" id="results4"></a>
        <a class="results-section" data-id="5" id="results5"></a>
        <a class="results-section" data-id="6" id="results6"></a>
        <a class="results-section" data-id="7" id="results7"></a>
        <a class="results-section" data-id="8" id="results8"></a>
        <a class="results-section" data-id="9" id="results9"></a>
        <a class="results-section" data-id="10" id="results10"></a>    
      </div>
      <div class="heheoops"></div>
      
      <div class="row">
        <ul class="pagination">
            
        </ul>
      </div>
      
      <%= form_for :component, url: gifs_path, method: :post, class: "col s12", html: {id: "gif-form"} do |f| %>
      <div class="row name-area">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12 m4">
              <i class="material-icons prefix">account_circle</i>

              <%= f.text_area(:author, class: 'materialize-textarea', required: true) %>
              <%= f.label(:author, "Your Name") %>
            </div>

            <div class="input-field col s12 m4">
              <%= f.check_box(:to_prompt, class: 'filled-in', id: 'to-prompt-gif') %>

              <label for="to-prompt-gif">Check if you are answering the prompt</label>
              <%= f.hidden_field :prompt_id, value: @prompt.id %>
            </div>

            <div class="input-field col s12 m4 submit-column">
              <%= f.submit 'Submit', class: "btn waves-effect waves-light submit-btn", id: "gif-button", type: "submit", name: "action" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</li>