<div class="hero">
	<h1>Michelle and Thor</h1>
	<p>19 August 2016</p>
	<p>alskdfj hello yeah yum
		it melted
		oh yeah</p>
	</div>

  <div class="choosey">
    <ul class="collapsible" data-collapsible="accordion">
      <%= render partial: "leave_comment" %>
      <%= render partial: "leave_gif" %>
      <%= render partial: "tagged_feed" %>
    </ul>
  </div>

	<div class="all-comments">
		<% if @components.present? %>
			<% @components.each do |c| %>
				<p><%= c.author %>: <%= c.content %></p>
			<% end %>
		<% else %>
			no comments currently
		<% end %>
	</div>

	<div id="target"></div>

    
</div>